<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-2">
  <div class="container-fluid">

    <!-- LOGO -->
    <a class="navbar-brand" href="#">
      <img class="logo" src="/source-images/logo.png">
    </a>

    <!-- MOBILE SEARCH (ONLY WHEN COLLAPSED) -->
    <form
      method="POST"
      action="/buyandsell/postlogin/search"
      class="d-flex d-lg-none ms-auto me-2"
      role="search"
      style="gap:6px;"
    >
      <input
        name="searchedProduct"
        class="form-control"
        type="search"
        placeholder="Search"
        required
        style="height:32px; font-size:14px;"
      />
      <button
        class="btn btn-outline-success"
        type="submit"
        style="height:32px; padding:0 10px;"
      >
        🔍
      </button>
    </form>

    <!-- TOGGLER -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAVBAR CONTENT -->
    <div class="collapse navbar-collapse bg-dark" id="navbarNavAltMarkup">
      <div class="navbar-nav">&nbsp; &nbsp;

        <!-- HOME -->
        <a class="nav-link <%= (activePage === 'home') ? 'active' : '' %>"
           href="/buyandsell/postlogin/home">
          &nbsp;&nbsp;Home
        </a>

        <% if (user.role === 'merchant') { %>

          <a class="nav-link <%= (activePage === 'newordersmerchant') ? 'active' : '' %>"
             href="/buyandsell/postlogin/merchant/myorders">
            &nbsp;&nbsp;New orders
          </a>

          <a class="nav-link <%= (activePage === 'orderhistorymerchant') ? 'active' : '' %>"
             href="/buyandsell/postlogin/merchant/myordershistory">
            &nbsp;&nbsp;Orders History
          </a>

          <a class="nav-link <%= (activePage === 'myproductsmerchant') ? 'active' : '' %>"
             href="/buyandsell/postlogin/merchant/myproducts">
            &nbsp;&nbsp;My Products
          </a>

          <a class="nav-link <%= (activePage === 'addproductmerchant') ? 'active' : '' %>"
             href="/buyandsell/postlogin/merchant/addproduct">
            &nbsp;&nbsp;List Product
          </a>

          <!-- DESKTOP SEARCH (MERCHANT) -->
          <form method="POST"
                action="/buyandsell/postlogin/search"
                class="d-none d-lg-flex ms-3"
                role="search"
                style="margin-right:40px;">
            <input name="searchedProduct" class="form-control me-2" type="search" placeholder="Search"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>

        <% } %>

        <% if (user.role === 'customer') { %>

          <a class="nav-link <%= (activePage === 'myorderscustomer') ? 'active' : '' %>"
             href="/buyandsell/postlogin/customer/myorders">
            &nbsp;&nbsp;My Orders
          </a>

          <a class="nav-link <%= (activePage === 'cart') ? 'active' : '' %>"
             href="/buyandsell/postlogin/customer/getcart">
            &nbsp;&nbsp;Cart
          </a>

          <!-- DESKTOP SEARCH (CUSTOMER) -->
          <form method="POST"
                action="/buyandsell/postlogin/search"
                class="d-none d-lg-flex ms-3"
                role="search"
                style="margin-right:40px;">
            <input name="searchedProduct" class="form-control me-2" type="search" placeholder="Search"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>

        <% } %>

        <!-- CATEGORIES -->
        <div id="cat-in-nav" style="display:flex;">
          <a class="nav-link <%= (activePage === 'men') ? 'active' : '' %>" href="/buyandsell/postlogin/search/men">&nbsp;Men</a>
          <a class="nav-link <%= (activePage === 'women') ? 'active' : '' %>" href="/buyandsell/postlogin/search/women">&nbsp;Women</a>
          <a class="nav-link <%= (activePage === 'kid') ? 'active' : '' %>" href="/buyandsell/postlogin/search/kid">&nbsp;Kids</a>
          <a class="nav-link <%= (activePage === 'lifestyle') ? 'active' : '' %>" href="/buyandsell/postlogin/search/lifestyle">&nbsp;Lifestyle</a>
          <a class="nav-link <%= (activePage === 'gadget') ? 'active' : '' %>" href="/buyandsell/postlogin/search/gadget">&nbsp;Gadgets</a>
          <a class="nav-link <%= (activePage === 'sport') ? 'active' : '' %>" href="/buyandsell/postlogin/search/sports">&nbsp;Sports</a>
        </div>

        <!-- RIGHT ICONS -->
        <div class="float-nav">

          <% if (user.isRead) { %>
            <a class="nav-link" href="/buyandsell/postlogin/getnotification">
              <i style="color: rgb(179, 167, 167); margin-top: 3px; margin-right: 10px; font-size: 35px;" class="fa-solid fa-bell"></i>
            </a>
          <% } else { %>
            <a class="nav-link" href="/buyandsell/postlogin/getnotification">
              <i style="color: rgb(207, 57, 57); margin-top: 3px; margin-right: 10px; font-size: 35px;" class="fa-solid fa-bell"></i>
            </a>
          <% } %>

          <a class="nav-link <%= (activePage === 'account') ? 'active' : '' %>"
             href="/buyandsell/postlogin/user">
            <img style="height:35px;width:35px;border-radius:50%;"
                 src="<%= user.profileImage %>">
          </a>

        </div>

      </div>
    </div>
  </div>
</nav>

<!-- ================= CSS ================= -->
<style>
  .navbar .nav-link {
    color: #e2dada !important;
    font-weight: 350;
  }

  .navbar .nav-link:hover {
    background-color: rgb(255, 255, 255);
    color: black !important;
    opacity: 0.85;
  }

  .navbar .nav-link.active {
    font-weight: 300;
    color: black !important;
  }

  .navbar-collapse.bg-dark {
    background-color: #212529 !important;
  }

  /* Hide desktop search forms on mobile */
  @media (max-width: 991px) {
    .navbar form[role="search"].d-none.d-lg-flex {
      display: none !important;
    }
  }
</style>
